.remove{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px
    }

header {
    background-image: url(./img/pattern.png);
    background-color: #4EA0FF;
    background-size: contain;
    /* background-size: 39%; */
    
}

#image {
    width: 250px;
    height: 250px;
    padding-top: 100px; 
}
    /* position: relative;
    bottom: 20px;     */


h4 {
    color: rgb(124, 124, 124);
    /* position: relative;
    bottom: 20px */
}

h5 {
    color: rgb(124, 124, 124);
    /* position: relative;
    bottom: 40px */
}

/* .Tim {
    position: relative;
    bottom: 40px
}

#cit1 {
    position: relative;
    bottom: 55px
} */

/* #cit2 {
    position: relative;
    bottom: 70px
}

#chapter {
    position: relative;
    bottom: 70px
} */

span {
    color: #4EA0FF;
}



