.remove{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px
    }

    header {
    background-image: url(./img/pattern.png);
    background-color: #4EA0FF;
    background-size: cover;
    background-size: 30%; 
}

#image {
    width: 15%;
    height: 15%;
    padding-top: 50px;
     
}
    
h4 {
    color: rgb(124, 124, 124); 
}

h5 {
    color: rgb(124, 124, 124);
}


span {
    color: #4EA0FF;
}

table {
    border-collapse: collapse;
}

.cell1{
 width: 25%;
}

.cell1, .cell2 {
   background-color: #4EA0FF;
   color: rgb(255, 255, 255);
}

.azure {
    background-color: #B1E5F2
}







